In [1]:
# Agrege acá el código para importar las librerias

# La libreria para "encontrar el sevicio" de Spark
import findspark
findspark.init()

# Librerias para "gestionar el servicio" de Spark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext, SparkSession

# Creamos una aplicación Spark en el Servicio
# Tenga cuidado con las tildes o caracteres especiales en el nombre de la app
sparkConf = SparkConf().setAppName("Evaluacion iSofware")

# definimos un espacio o contexto para la App
sc=SparkContext(conf=sparkConf)

# inicio una sesión en el espacio de la App
spark = SparkSession(sc)

# inicio del espacio o contexto SQL
ContextoSql = SQLContext(sparkContext=sc, sparkSession=spark)

In [2]:
# 1. Cargue los datos en la carpeta datalake y luego del /datalake al HDFS (Hadoop File System)
# Recuerda usar ! para ejecutar el comando en el shell. 
# Tu código a continuación...


!wget https://raw.githubusercontent.com/spalaciov0819/trabajo_spark_AGD/main/Asistencia_del_Pitch.csv

!wget https://raw.githubusercontent.com/spalaciov0819/trabajo_spark_AGD/main/Evaluacion_del_Pitch.csv

--2021-05-13 00:26:40--  https://raw.githubusercontent.com/spalaciov0819/trabajo_spark_AGD/main/Asistencia_del_Pitch.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 88444 (86K) [text/plain]
Saving to: 'Asistencia_del_Pitch.csv.1'

Asistencia_del_Pitc 100%[===================>]  86.37K  --.-KB/s    in 0.04s

2021-05-13 00:26:51 (1.97 MB/s) - 'Asistencia_del_Pitch.csv.1' saved [88444/88444]

--2021-05-13 00:26:52--  https://raw.githubusercontent.com/spalaciov0819/trabajo_spark_AGD/main/Evaluacion_del_Pitch.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 88099 (86K) [text/plain]
Saving to: 'Evaluacion_del_Pitch.csv.1'

Evaluacion_del_Pitc 100%[===================>]  86.03K  --.-KB/s    in 0.04s

2021-05-13 00:27:03 (2.00 MB/s) - 'Evaluacion_del_Pitch.csv.1' saved [88099/88099]

In [3]:
!hdfs dfs -ls

In [4]:
!hdfs dfs -copyFromLocal Asistencia_del_Pitch.csv /tmp/Asistencia_del_Pitch.csv
!hdfs dfs -copyFromLocal Evaluacion_del_Pitch.csv /tmp/Evaluacion_del_Pitch.csv

copyFromLocal: `/tmp/Asistencia_del_Pitch.csv': File exists
copyFromLocal: `/tmp/Evaluacion_del_Pitch.csv': File exists

In [5]:
!hdfs dfs -ls /tmp/*csv

-rw-r--r--   1 root supergroup      88444 2021-05-12 23:01 /tmp/Asistencia_del_Pitch.csv
-rw-r--r--   1 root supergroup      88099 2021-05-12 23:01 /tmp/Evaluacion_del_Pitch.csv

In [6]:
# 2. Cree dos tablas SparkSQL y almacene el csv en su correspondiente tabla.
# Observación: tenga especial cuidado con los encabezados de los archivos CSV.
# Usted puede considerar cambiar los encabezados de los CSV originales
# Tu código a continuación...

In [7]:
#Para tener un facil manejo de los encabezados en la tabla de evaluacion, se deciden hacer los siguientes cambios en el encabezado del archivo:

#Marca temporal    se reemplaza por   -->   tiempo
#Nombre de usuario    se reemplaza por   -->   usuario
#Equipo que vas a evaluar:    se reemplaza por   -->   equipo_evualuado
#1. "Introducción: El equipo responde adecuadamente ¿Quiénes son y por qué están aquí?"    se reemplaza por   -->   introduccion
#2. "Equipo: El equipo responde adecuadamente ¿Quiénes están detrás de la idea y cuál es su función?"    se reemplaza por   -->   equipo
#3. "Problema: El equipo responde adecuadamente ¿Qué problema resolverá?, ¿es realmente un problema?"    se reemplaza por   -->   problema
#4. "Ventajas: El equipo responde adecuadamente ¿Por qué su solución es especial?, ¿qué la hace distinta de otras?"    se reemplaza por   -->   ventajas
#5. "Solución: El equipo responde adecuadamente ¿Cómo piensa resolver el problema?"    se reemplaza por   -->   solucion
#6. "Producto: El equipo responde adecuadamente ¿Cómo funciona el producto o servicio? Muestra algunos ejemplos."    se reemplaza por   -->   producto
#7. "Tracción: El equipo responde adecuadamente si cuenta con clientes que demuestran potencial."    se reemplaza por   -->   traccion
#8. "Mercado: El equipo responde conoce, o por lo menos intentar predecir, el tamaño del mercado que impactará."    se reemplaza por   -->   mercado
#9. "Competencia: El equipo responde adecuadamente ¿Cuáles son las soluciones alternativas al problema que plantea?"    se reemplaza por   -->   competencia
#10. "Modelo de negocio: El equipo responde adecuadamente ¿Cómo hará dinero? "    se reemplaza por   -->   modelo
#11. "Inversión: El equipo responde adecuadamente ¿Cuál es su presupuesto y cuánto espera ganar?"    se reemplaza por   -->   inversion
#12. "Contacto: El equipo deja los datos al cliente y muestra cómo pueden contactarle."    se reemplaza por   -->   contacto
#13. "Exposición: ¿Qué tan coordinados estaban los expositores?"    se reemplaza por   -->   exposicion1
#14. "Exposición: ¿Los expositores se expresaron con claridad y se hicieron entender?"    se reemplaza por   -->   exposicion2
#15. "Exposición: Las diapositivas son claras y coherentes y apoyaron adecuadamente la exposición."    se reemplaza por   -->   exposicion3
#"Suponiendo que eres inversionista, ¿Estarías dispuesto a invertir dinero en este equipo? (esta pregunta no se pondera en la nota)",    se reemplaza por   -->   invertirias
#"Observaciones para el equipo, estas observaciones las debe considerar el equipo para mejorar la siguiente presentación."    se reemplaza por   -->   observacion


#Para tener un facil manejo de los encabezados en la tabla de asistencia, se deciden hacer los siguientes cambios en el encabezado del archivo:

#Marca temporal    se reemplaza por   -->   tiempo
#Nombre de usuario    se reemplaza por   -->   usuario
#Equipo al que perteneces:    se reemplaza por   -->   equipo_perteneces
#Equipo que va a exponer:    se reemplaza por   -->   equipo_expone

In [8]:
asistencia = spark.read.load('/tmp/Asistencia_del_Pitch.csv', 
                           format="csv",
                           sep=';',
                           inferSchema='true',
                           header='true')

evaluacion = spark.read.load('/tmp/Evaluacion_del_Pitch.csv', 
                           format="csv",
                           sep=';',
                           inferSchema='true',
                           header='true')

In [9]:
asistencia.printSchema()

evaluacion.printSchema()

root
 |-- tiempo: string (nullable = true)
 |-- usuario: string (nullable = true)
 |-- equipo_perteneces: string (nullable = true)
 |-- equipo_expone: string (nullable = true)

root
 |-- tiempo: string (nullable = true)
 |-- usuario: string (nullable = true)
 |-- equipo_evaluado: string (nullable = true)
 |-- introduccion: integer (nullable = true)
 |-- equipo: integer (nullable = true)
 |-- problema: integer (nullable = true)
 |-- ventajas: integer (nullable = true)
 |-- solucion: integer (nullable = true)
 |-- producto: integer (nullable = true)
 |-- traccion: integer (nullable = true)
 |-- mercado: integer (nullable = true)
 |-- competencia: integer (nullable = true)
 |-- modelo: integer (nullable = true)
 |-- inversion: integer (nullable = true)
 |-- contacto: integer (nullable = true)
 |-- exposicion1: integer (nullable = true)
 |-- exposicion2: integer (nullable = true)
 |-- exposicion3: integer (nullable = true)
 |-- invertirias: string (nullable = true)
 |-- observacion: string (nullable = true)

In [10]:
asistencia.createOrReplaceTempView('asistencia')

evaluacion.createOrReplaceTempView('evaluacion')

In [11]:
# 2. Consulte el listado total de estudiantes (correos electrónicos) del 
# curso de Ingeniería de Software, ordenados alfabéticamente
# Tu código a continuación...

spark.sql(""" 
SELECT DISTINCT usuario 
FROM asistencia 
ORDER BY usuario
""").show()

+--------------------+
|             usuario|
+--------------------+
| abanolc@unal.edu.co|
|acastrillonv@unal...|
| aflemag@unal.edu.co|
|anapariciom@unal....|
|angutierrezb@unal...|
|anoriega@unal.edu.co|
|auarbelaeza@unal....|
| bocampo@unal.edu.co|
|cgiraldo@unal.edu.co|
|cjfunezg@unal.edu.co|
|cquinchiar@unal.e...|
| dadazam@unal.edu.co|
|daestradam@unal.e...|
|davgarciava@unal....|
|dballesteroso@una...|
|  dbrito@unal.edu.co|
|dcadavid@unal.edu.co|
|dcardonaal@unal.e...|
|dchavarriar@unal....|
|dgarciabl@unal.ed...|
+--------------------+
only showing top 20 rows

In [12]:
# 3. Consulte la cantidad de asistencias registradas por estudiante; además, la fecha y hora de la primera asistencia
# y la fecha y hora de la última asistencia
# Tu código a continuación...

spark.sql(""" 
SELECT usuario, COUNT(DISTINCT(tiempo)) AS asistencias, MIN(tiempo) AS primera_asistencia, MAX(tiempo) AS ultima_asistencia  
FROM asistencia 
GROUP BY usuario
ORDER BY asistencias DESC
""").show()

+--------------------+-----------+--------------------+--------------------+
|             usuario|asistencias|  primera_asistencia|   ultima_asistencia|
+--------------------+-----------+--------------------+--------------------+
|anapariciom@unal....|         10|2021/04/08 8:11:4...|2021/04/13 9:38:5...|
|jovillarrealm@una...|         10|2021/04/08 10:02:...|2021/04/13 9:42:5...|
|samolinap@unal.ed...|         10|2021/04/08 8:11:4...|2021/04/13 9:37:2...|
|favasquezj@unal.e...|         10|2021/04/08 8:10:5...|2021/04/13 9:41:0...|
|saespinosab@unal....|          9|2021/04/08 10:10:...|2021/04/13 9:51:0...|
|rmbuilesm@unal.ed...|          9|2021/04/08 8:14:1...|2021/04/13 9:41:3...|
|sebermudezg@unal....|          9|2021/04/08 8:13:0...|2021/04/13 9:40:1...|
|jspatinoa@unal.ed...|          9|2021/04/08 8:17:2...|2021/04/13 9:41:1...|
|lumarinb@unal.edu.co|          9|2021/04/08 8:10:5...|2021/04/13 9:43:2...|
| dadazam@unal.edu.co|          9|2021/04/08 8:13:1...|2021/04/13 9:41:1...|
|mimorenov@unal.ed...|          9|2021/04/08 8:10:4...|2021/04/13 9:39:0...|
|  lmayar@unal.edu.co|          9|2021/04/08 8:13:1...|2021/04/13 9:39:4...|
|jcardonaso@unal.e...|          9|2021/04/08 8:10:5...|2021/04/13 9:44:2...|
|esgarciac@unal.ed...|          9|2021/04/08 8:24:1...|2021/04/13 9:39:4...|
|sasalazarr@unal.e...|          9|2021/04/08 8:13:2...|2021/04/13 9:40:3...|
|jlopezpe@unal.edu.co|          9|2021/04/08 8:10:5...|2021/04/13 9:09:3...|
|dgarciabl@unal.ed...|          9|2021/04/08 10:00:...|2021/04/13 9:41:0...|
|dcadavid@unal.edu.co|          8|2021/04/08 8:13:0...|2021/04/13 9:40:5...|
|serendona@unal.ed...|          8|2021/04/08 8:10:4...|2021/04/13 9:40:2...|
|fmiranda@unal.edu.co|          8|2021/04/08 8:10:1...|2021/04/13 9:45:0...|
+--------------------+-----------+--------------------+--------------------+
only showing top 20 rows

In [13]:
# 4. Consulte el listado de estudiantes que asistieron a 2 presentaciones o menos (una).
# Tu código a continuación...

spark.sql(""" 
SELECT usuario, COUNT(tiempo) AS asistencias  
FROM asistencia 
GROUP BY usuario
HAVING asistencias <= 2
""").show()

+--------------------+-----------+
|             usuario|asistencias|
+--------------------+-----------+
|jdroldano@unal.ed...|          1|
+--------------------+-----------+

In [14]:
# 5. Consulte el listado de estudiantes que no asistieron a ninguna presentación.
# Tu código a continuación...

   
spark.sql(""" 
SELECT evaluacion.usuario  
FROM evaluacion
LEFT JOIN asistencia ON evaluacion.usuario = asistencia.usuario
WHERE asistencia.usuario = NULL
""").show()

#Segun el resultado todos los estudiantes asistieron a presentaciones, se hizo el cruce manual en excel para confirmar el resultado

+-------+
|usuario|
+-------+
+-------+

In [15]:
# 6. Consulte los integrantes por cada equipo al que pertenecen.
# Tu código a continuación...

spark.sql(""" 
SELECT DISTINCT 
      usuario, SUBSTRING(equipo_perteneces,15,LENGTH(equipo_perteneces)-14) as Equipo
FROM asistencia
ORDER BY Equipo, usuario
""").show()

+--------------------+--------------------+
|             usuario|              Equipo|
+--------------------+--------------------+
|angutierrezb@unal...|Administración de...|
| eapenad@unal.edu.co|Administración de...|
|emflorezb@unal.ed...|Administración de...|
|framirezf@unal.ed...|Administración de...|
|jhcordoba@unal.ed...|Administración de...|
| jortize@unal.edu.co|Administración de...|
| kmolano@unal.edu.co|Administración de...|
|lumarinb@unal.edu.co|Administración de...|
|nsalinas@unal.edu.co|Administración de...|
|rmbuilesm@unal.ed...|Administración de...|
|saespinosab@unal....|Administración de...|
|samolinap@unal.ed...|Administración de...|
|sednarvaezna@unal...|Administración de...|
| abanolc@unal.edu.co|Gestión de Menús ...|
|anapariciom@unal....|Gestión de Menús ...|
|davgarciava@unal....|Gestión de Menús ...|
|emlopezr@unal.edu.co|Gestión de Menús ...|
|favasquezj@unal.e...|Gestión de Menús ...|
|hriveraa@unal.edu.co|Gestión de Menús ...|
|jcardonaso@unal.e...|Gestión de Menús ...|
+--------------------+--------------------+
only showing top 20 rows

In [16]:
# 7. Consulte la cantidad de asistentes por presentación, sin considerar los asistentes que pertenecen 
# al equipo que realizó la presentación.
# Tu código a continuación...

   
spark.sql(""" 
SELECT SUBSTRING(equipo_expone,9,LENGTH(equipo_expone)-8) AS expone, COUNT(DISTINCT(usuario)) AS asistentes  
FROM asistencia
WHERE SUBSTRING(equipo_perteneces,15,LENGTH(equipo_perteneces)-14) <> SUBSTRING(equipo_expone,9,LENGTH(equipo_expone)-8)
GROUP BY expone
ORDER BY asistentes DESC
""").show()

#NOTA: Se evidencia que hay usuarios que asistieron mas de 1 vez a una misma exposicion que puede verse con este codigo

#spark.sql(""" 
#SELECT SUBSTRING(equipo_expone,9,LENGTH(equipo_expone)-8) AS expone, COUNT(usuario) AS asistentes  
#FROM asistencia
#WHERE SUBSTRING(equipo_perteneces,15,LENGTH(equipo_perteneces)-14) <> SUBSTRING(equipo_expone,9,LENGTH(equipo_expone)-8)
#GROUP BY expone
#ORDER BY asistentes DESC
#""").show()

+--------------------+----------+
|              expone|asistentes|
+--------------------+----------+
|Servicios a domic...|        73|
|Gestión de progra...|        73|
|     Mi Sanandresito|        71|
|Lo tengo y te lo ...|        71|
|Gestión de Menús ...|        71|
|       Te lo cambio.|        70|
|Gestión de Reside...|        69|
|Administración de...|        69|
|Deserción de estu...|         3|
+--------------------+----------+

In [17]:
# 8. Consultar cuáles integrantes evaluaron a su propio equipo. Estas evaluaciones no serán válidas, pues un
# integrante no puede evaluar a su propio equipo.
# Tu código a continuación...


spark.sql(""" 
SELECT t1.usuario, t2.equipo_evaluado, (SUBSTRING(t1.equipo_perteneces,15,LENGTH(t1.equipo_perteneces)-14)) AS pertenece, COUNT(t2.tiempo) AS Veces
FROM asistencia t1, evaluacion t2
WHERE (t1.usuario = t2.usuario AND (SUBSTRING(t1.equipo_perteneces,15,LENGTH(t1.equipo_perteneces)-14) = t2.equipo_evaluado))
GROUP BY t1.usuario, t2.equipo_evaluado, pertenece
ORDER BY t2.equipo_evaluado, veces DESC
""").show()

+--------------------+--------------------+--------------------+-----+
|             usuario|     equipo_evaluado|           pertenece|Veces|
+--------------------+--------------------+--------------------+-----+
| kmolano@unal.edu.co|Administración de...|Administración de...|    1|
|jhcordoba@unal.ed...|Administración de...|Administración de...|    1|
|hriveraa@unal.edu.co|Gestión de Menús ...|Gestión de Menús ...|    7|
|mcarvajalsa@unal....|Gestión de Reside...|Gestión de Reside...|    1|
|  lmayar@unal.edu.co|Gestión de progra...|Gestión de progra...|    9|
|daestradam@unal.e...|Lo tengo y te lo ...|Lo tengo y te lo ...|    8|
| jruedat@unal.edu.co|Servicios a domic...|Servicios a domic...|    8|
|anapariciom@unal....|Servicios a domic...|Servicios a domic...|    1|
+--------------------+--------------------+--------------------+-----+

In [100]:
# 9. Consultar la nota promedio por cada ítem (1 al 15), y la nota promedio total del cada equipo. Recuerde que no
# son válidas las evaluaciones realizadas por los miembros del mismo equipo.
# Tu código a continuación...

spark.sql("""
SELECT ROUND(AVG(t2.introduccion),1) AS Prom_introduccion, ROUND(AVG(t2.equipo),1) AS Prom_equipo, ROUND(AVG(t2.problema),1) AS Prom_problema, ROUND(AVG(t2.ventajas),1) AS Prom_ventajas, ROUND(AVG(t2.solucion),1) AS Prom_solucion, ROUND(AVG(t2.producto),1) AS Prom_producto, ROUND(AVG(t2.traccion),1) AS Prom_traccion, ROUND(AVG(t2.mercado),1) AS Prom_mercado, ROUND(AVG(t2.competencia),1) AS Prom_competencia, ROUND(AVG(t2.modelo),1) AS Prom_modelo, ROUND(AVG(t2.inversion),1) AS Prom_inversion, ROUND(AVG(t2.contacto),1) AS Prom_contacto, ROUND(AVG(t2.exposicion1),1) AS Prom_exposicion1, ROUND(AVG(t2.exposicion2),1) AS Prom_exposicion2, ROUND(AVG(t2.exposicion3),1) AS Prom_exposicion3,  ROUND(((AVG(t2.introduccion) + AVG(t2.equipo) + AVG(t2.problema) + AVG(t2.ventajas) + AVG(t2.solucion) + AVG(t2.producto) + AVG(t2.traccion) + AVG(t2.mercado) + AVG(t2.competencia)  + AVG(t2.modelo) + AVG(t2.inversion) + AVG(t2.contacto) + AVG(t2.exposicion1) + AVG(t2.exposicion2) + AVG(t2.exposicion3))/15),1) AS Prom_Total
FROM asistencia t1, evaluacion t2
WHERE (t1.usuario = t2.usuario AND (SUBSTRING(t1.equipo_perteneces,15,LENGTH(t1.equipo_perteneces)-14) <> t2.equipo_evaluado))
""").show()

+-----------------+-----------+-------------+-------------+-------------+-------------+-------------+------------+----------------+-----------+--------------+-------------+----------------+----------------+----------------+----------+
|Prom_introduccion|Prom_equipo|Prom_problema|Prom_ventajas|Prom_solucion|Prom_producto|Prom_traccion|Prom_mercado|Prom_competencia|Prom_modelo|Prom_inversion|Prom_contacto|Prom_exposicion1|Prom_exposicion2|Prom_exposicion3|Prom_Total|
+-----------------+-----------+-------------+-------------+-------------+-------------+-------------+------------+----------------+-----------+--------------+-------------+----------------+----------------+----------------+----------+
|              4.4|        4.3|          4.4|          4.2|          4.4|          4.4|          4.3|         4.3|             4.2|        4.4|           4.2|          4.5|             4.4|             4.4|             4.5|       4.4|
+-----------------+-----------+-------------+-------------+-------------+-------------+-------------+------------+----------------+-----------+--------------+-------------+----------------+----------------+----------------+----------+

In [101]:
spark.sql("""
SELECT t2.equipo_evaluado, ROUND(AVG(t2.introduccion),1) AS Prom_introduccion, ROUND(AVG(t2.equipo),1) AS Prom_equipo, ROUND(AVG(t2.problema),1) AS Prom_problema, ROUND(AVG(t2.ventajas),1) AS Prom_ventajas, ROUND(AVG(t2.solucion),1) AS Prom_solucion, ROUND(AVG(t2.producto),1) AS Prom_producto, ROUND(AVG(t2.traccion),1) AS Prom_traccion, ROUND(AVG(t2.mercado),1) AS Prom_mercado, ROUND(AVG(t2.competencia),1) AS Prom_competencia, ROUND(AVG(t2.modelo),1) AS Prom_modelo, ROUND(AVG(t2.inversion),1) AS Prom_inversion, ROUND(AVG(t2.contacto),1) AS Prom_contacto, ROUND(AVG(t2.exposicion1),1) AS Prom_exposicion1, ROUND(AVG(t2.exposicion2),1) AS Prom_exposicion2, ROUND(AVG(t2.exposicion3),1) AS Prom_exposicion3,  ROUND(((AVG(t2.introduccion) + AVG(t2.equipo) + AVG(t2.problema) + AVG(t2.ventajas) + AVG(t2.solucion) + AVG(t2.producto) + AVG(t2.traccion) + AVG(t2.mercado) + AVG(t2.competencia)  + AVG(t2.modelo) + AVG(t2.inversion) + AVG(t2.contacto) + AVG(t2.exposicion1) + AVG(t2.exposicion2) + AVG(t2.exposicion3))/15),1) AS Prom_Total
FROM asistencia t1, evaluacion t2
WHERE (t1.usuario = t2.usuario AND (SUBSTRING(t1.equipo_perteneces,15,LENGTH(t1.equipo_perteneces)-14) <> t2.equipo_evaluado))
GROUP BY t2.equipo_evaluado
""").show()

+--------------------+-----------------+-----------+-------------+-------------+-------------+-------------+-------------+------------+----------------+-----------+--------------+-------------+----------------+----------------+----------------+----------+
|     equipo_evaluado|Prom_introduccion|Prom_equipo|Prom_problema|Prom_ventajas|Prom_solucion|Prom_producto|Prom_traccion|Prom_mercado|Prom_competencia|Prom_modelo|Prom_inversion|Prom_contacto|Prom_exposicion1|Prom_exposicion2|Prom_exposicion3|Prom_Total|
+--------------------+-----------------+-----------+-------------+-------------+-------------+-------------+-------------+------------+----------------+-----------+--------------+-------------+----------------+----------------+----------------+----------+
|Servicios a domic...|              4.5|        4.6|          4.5|          4.3|          4.5|          4.6|          4.1|         4.1|             4.4|        4.3|           4.2|          4.6|             4.5|             4.6|             4.6|       4.4|
|Lo tengo y te lo ...|              4.5|        4.6|          4.3|          4.4|          4.4|          4.7|          4.4|         4.3|             4.5|        4.5|           4.4|          4.6|             4.5|             4.6|             4.6|       4.5|
|Gestión de Reside...|              4.6|        4.4|          4.6|          4.5|          4.5|          4.1|          4.5|         4.7|             4.4|        4.5|           4.4|          4.6|             4.4|             4.5|             4.4|       4.5|
|       Te lo cambio.|              4.3|        4.0|          4.2|          4.0|          4.4|          4.8|          4.1|         4.1|             4.2|        4.3|           3.6|          4.5|             4.6|             4.5|             4.5|       4.3|
|Administración de...|              4.1|        4.4|          4.0|          3.9|          4.2|          4.4|          4.0|         4.4|             3.9|        4.4|           4.1|          4.1|             4.3|             4.2|             4.1|       4.2|
|Deserción de estu...|              4.5|        5.0|          5.0|          5.0|          4.5|          5.0|          5.0|         4.5|             5.0|        4.5|           4.5|          5.0|             4.5|             4.5|             5.0|       4.8|
|Gestión de Menús ...|              4.3|        4.0|          4.6|          4.3|          4.4|          4.0|          4.2|         4.2|             4.3|        4.6|           4.3|          4.5|             4.5|             4.5|             4.7|       4.4|
|Gestión de progra...|              4.4|        4.4|          4.5|          3.9|          4.3|          4.4|          4.4|         4.5|             4.3|        4.3|           4.5|          4.4|             4.5|             4.5|             4.6|       4.4|
|     Mi Sanandresito|              4.2|        3.9|          4.3|          4.0|          4.3|          4.3|          4.3|         4.4|             3.5|        4.4|           4.4|          4.6|             4.3|             4.2|             4.1|       4.2|
+--------------------+-----------------+-----------+-------------+-------------+-------------+-------------+-------------+------------+----------------+-----------+--------------+-------------+----------------+----------------+----------------+----------+

In [63]:
# 10. Consulte el mejor equipo evaluado por cada ítem (según nota promedio. En caso de empate mostrar todos los empatados) 
# y el mejor equipo según el promedio total.
# Tu código a continuación...

#df = spark.sql("""
#SELECT t2.equipo_evaluado, AVG(t2.introduccion) AS Prom_introduccion, AVG(t2.equipo) AS Prom_equipo, AVG(t2.problema) AS Prom_problema, AVG(t2.ventajas) AS Prom_ventajas, AVG(t2.solucion) AS Prom_solucion, AVG(t2.producto) AS Prom_producto, AVG(t2.traccion) AS Prom_traccion, AVG(t2.mercado) AS Prom_mercado, AVG(t2.competencia) AS Prom_competencia, AVG(t2.modelo) AS Prom_modelo, AVG(t2.inversion) AS Prom_inversion, AVG(t2.contacto) AS Prom_contacto, AVG(t2.exposicion1) AS Prom_exposicion1, AVG(t2.exposicion2) AS Prom_exposicion2, AVG(t2.exposicion3) AS Prom_exposicion3,  ((AVG(t2.introduccion) + AVG(t2.equipo) + AVG(t2.problema) + AVG(t2.ventajas) + AVG(t2.solucion) + AVG(t2.producto) + AVG(t2.traccion) + AVG(t2.mercado) + AVG(t2.competencia)  + AVG(t2.modelo) + AVG(t2.inversion) + AVG(t2.contacto) + AVG(t2.exposicion1) + AVG(t2.exposicion2) + AVG(t2.exposicion3))/15) AS Prom_Total
#FROM asistencia t1, evaluacion t2
#WHERE (t1.usuario = t2.usuario AND (SUBSTRING(t1.equipo_perteneces,15,LENGTH(t1.equipo_perteneces)-14) <> t2.equipo_evaluado))
#GROUP BY t2.equipo_evaluado
#""")

In [102]:
df = spark.sql("""
SELECT t2.equipo_evaluado, ROUND(AVG(t2.introduccion),1) AS Prom_introduccion, ROUND(AVG(t2.equipo),1) AS Prom_equipo, ROUND(AVG(t2.problema),1) AS Prom_problema, ROUND(AVG(t2.ventajas),1) AS Prom_ventajas, ROUND(AVG(t2.solucion),1) AS Prom_solucion, ROUND(AVG(t2.producto),1) AS Prom_producto, ROUND(AVG(t2.traccion),1) AS Prom_traccion, ROUND(AVG(t2.mercado),1) AS Prom_mercado, ROUND(AVG(t2.competencia),1) AS Prom_competencia, ROUND(AVG(t2.modelo),1) AS Prom_modelo, ROUND(AVG(t2.inversion),1) AS Prom_inversion, ROUND(AVG(t2.contacto),1) AS Prom_contacto, ROUND(AVG(t2.exposicion1),1) AS Prom_exposicion1, ROUND(AVG(t2.exposicion2),1) AS Prom_exposicion2, ROUND(AVG(t2.exposicion3),1) AS Prom_exposicion3,  ROUND(((AVG(t2.introduccion) + AVG(t2.equipo) + AVG(t2.problema) + AVG(t2.ventajas) + AVG(t2.solucion) + AVG(t2.producto) + AVG(t2.traccion) + AVG(t2.mercado) + AVG(t2.competencia)  + AVG(t2.modelo) + AVG(t2.inversion) + AVG(t2.contacto) + AVG(t2.exposicion1) + AVG(t2.exposicion2) + AVG(t2.exposicion3))/15),1) AS Prom_Total
FROM asistencia t1, evaluacion t2
WHERE (t1.usuario = t2.usuario AND (SUBSTRING(t1.equipo_perteneces,15,LENGTH(t1.equipo_perteneces)-14) <> t2.equipo_evaluado))
GROUP BY t2.equipo_evaluado
""")

In [103]:
df.createOrReplaceTempView('promedios')

In [104]:
df.head()

Row(equipo_evaluado='Servicios a domicilio', Prom_introduccion=4.5, Prom_equipo=4.6, Prom_problema=4.5, Prom_ventajas=4.3, Prom_solucion=4.5, Prom_producto=4.6, Prom_traccion=4.1, Prom_mercado=4.1, Prom_competencia=4.4, Prom_modelo=4.3, Prom_inversion=4.2, Prom_contacto=4.6, Prom_exposicion1=4.5, Prom_exposicion2=4.6, Prom_exposicion3=4.6, Prom_Total=4.4)

In [113]:
spark.sql("""
SELECT round(MAX(Prom_solucion),1) AS sol, round(MAX(Prom_mercado),1) AS mer, round(MAX(Prom_modelo),1) as mod, ROUND(MAX(Prom_inversion),1) as inv, ROUND(MAX(Prom_exposicion1),1) as expo1, ROUND(MAX(Prom_Total),1) as total FROM promedios
""").show(20)

+---+---+---+---+-----+-----+
|sol|mer|mod|inv|expo1|total|
+---+---+---+---+-----+-----+
|4.5|4.7|4.6|4.5|  4.6|  4.8|
+---+---+---+---+-----+-----+

In [115]:
spark.sql("""
SELECT p.equipo_evaluado AS mejor_equipo_evaluado,'Prom_introduccion' AS item, a.prome
FROM promedios AS p INNER JOIN 
(SELECT MAX(Prom_introduccion) AS prome FROM promedios) a
ON p.Prom_introduccion = a.prome

UNION ALL

SELECT p.equipo_evaluado AS mejor_equipo_evaluado,'Prom_equipo' AS item, b.prome
FROM promedios AS p INNER JOIN 
(SELECT MAX(Prom_equipo) AS prome FROM promedios) b
ON p.Prom_equipo = b.prome

UNION ALL

SELECT p.equipo_evaluado AS mejor_equipo_evaluado,'Prom_problema' AS item, c.prome
FROM promedios AS p INNER JOIN 
(SELECT MAX(Prom_problema) AS prome FROM promedios) c
ON p.Prom_equipo = c.prome

UNION ALL

SELECT p.equipo_evaluado AS mejor_equipo_evaluado,'Prom_ventajas' AS item, d.prome
FROM promedios AS p INNER JOIN 
(SELECT MAX(Prom_ventajas) AS prome FROM promedios) d
ON p.Prom_equipo = d.prome

UNION ALL

SELECT equipo_evaluado AS mejor_equipo_evaluado,'Prom_solucion' AS item, Prom_solucion
FROM promedios
WHERE Prom_solucion = 4.5

UNION ALL

SELECT p.equipo_evaluado AS mejor_equipo_evaluado,'Prom_producto' AS item, f.prome
FROM promedios AS p INNER JOIN 
(SELECT MAX(Prom_producto) AS prome FROM promedios) f
ON p.Prom_equipo = f.prome

UNION ALL

SELECT p.equipo_evaluado AS mejor_equipo_evaluado,'Prom_traccion' AS item, g.prome
FROM promedios AS p INNER JOIN 
(SELECT MAX(Prom_traccion) AS prome FROM promedios) g
ON p.Prom_equipo = g.prome

UNION ALL

SELECT equipo_evaluado AS mejor_equipo_evaluado,'Prom_mercado' AS item, Prom_mercado
FROM promedios
WHERE Prom_mercado = 4.7

UNION ALL

SELECT p.equipo_evaluado AS mejor_equipo_evaluado,'Prom_competencia' AS item, i.prome
FROM promedios AS p INNER JOIN 
(SELECT MAX(Prom_competencia) AS prome FROM promedios) i
ON p.Prom_equipo = i.prome

UNION ALL

SELECT equipo_evaluado AS mejor_equipo_evaluado,'Prom_modelo' AS item, Prom_modelo
FROM promedios
WHERE Prom_modelo = 4.6

UNION ALL

SELECT equipo_evaluado AS mejor_equipo_evaluado,'Prom_inversion' AS item, Prom_inversion
FROM promedios
WHERE Prom_inversion = 4.5


UNION ALL

SELECT p.equipo_evaluado AS mejor_equipo_evaluado,'Prom_contacto' AS item, l.prome
FROM promedios AS p INNER JOIN 
(SELECT MAX(Prom_contacto) AS prome FROM promedios) l
ON p.Prom_equipo = l.prome
    
UNION ALL

SELECT equipo_evaluado AS mejor_equipo_evaluado,'Prom_exposicion1' AS item, Prom_exposicion1
FROM promedios
WHERE Prom_exposicion1 = 4.6

UNION ALL

SELECT p.equipo_evaluado AS mejor_equipo_evaluado,'Prom_exposicion2' AS item, n.prome
FROM promedios AS p INNER JOIN 
(SELECT MAX(Prom_exposicion2) AS prome FROM promedios) n
ON p.Prom_equipo = n.prome

UNION ALL

SELECT p.equipo_evaluado AS mejor_equipo_evaluado,'Prom_exposicion3' AS item, o.prome
FROM promedios AS p INNER JOIN 
(SELECT MAX(Prom_exposicion3) AS prome FROM promedios) o
ON p.Prom_equipo = o.prome

UNION ALL

SELECT equipo_evaluado AS mejor_equipo_evaluado,'Prom_Total' AS item, Prom_Total
FROM promedios
WHERE Prom_Total = 4.8


""").show()

+---------------------+-----------------+-----+
|mejor_equipo_evaluado|             item|prome|
+---------------------+-----------------+-----+
| Gestión de Reside...|Prom_introduccion|  4.6|
| Deserción de estu...|      Prom_equipo|  5.0|
| Deserción de estu...|    Prom_problema|  5.0|
| Deserción de estu...|    Prom_ventajas|  5.0|
| Servicios a domic...|    Prom_solucion|  4.5|
| Gestión de Reside...|    Prom_solucion|  4.5|
| Deserción de estu...|    Prom_solucion|  4.5|
| Deserción de estu...|    Prom_producto|  5.0|
| Deserción de estu...|    Prom_traccion|  5.0|
| Gestión de Reside...|     Prom_mercado|  4.7|
| Deserción de estu...| Prom_competencia|  5.0|
| Gestión de Menús ...|      Prom_modelo|  4.6|
| Deserción de estu...|   Prom_inversion|  4.5|
| Gestión de progra...|   Prom_inversion|  4.5|
| Deserción de estu...|    Prom_contacto|  5.0|
|        Te lo cambio.| Prom_exposicion1|  4.6|
| Servicios a domic...| Prom_exposicion2|  4.6|
| Lo tengo y te lo ...| Prom_exposicion2|  4.6|
| Deserción de estu...| Prom_exposicion3|  5.0|
| Deserción de estu...|       Prom_Total|  4.8|
+---------------------+-----------------+-----+

In [ ]:
# 11. Consulte el peor equipo evaluado por cada ítem (según nota promedio. En caso de empate mostrar todos los empatados) 
# y el peor equipo según el promedio total.
# Tu código a continuación...

In [125]:
spark.sql("""
SELECT round(MIN(Prom_solucion),1) AS sol, round(MIN(Prom_mercado),1) AS mer, round(MIN(Prom_competencia),1) as comp, ROUND(MIN(Prom_modelo),1) as mod, ROUND(MIN(Prom_inversion),1) as inv, ROUND(MIN(Prom_contacto),1) as cont, ROUND(MIN(Prom_exposicion1),1) as expo1, ROUND(MIN(Prom_exposicion2),1) as expo2, ROUND(MIN(Prom_exposicion3),1) as expo3, ROUND(MIN(Prom_Total),1) as total FROM promedios
""").show(20)

+---+---+----+---+---+----+-----+-----+-----+-----+
|sol|mer|comp|mod|inv|cont|expo1|expo2|expo3|total|
+---+---+----+---+---+----+-----+-----+-----+-----+
|4.2|4.1| 3.5|4.3|3.6| 4.1|  4.3|  4.2|  4.1|  4.2|
+---+---+----+---+---+----+-----+-----+-----+-----+

In [128]:
spark.sql("""
SELECT p.equipo_evaluado AS mejor_equipo_evaluado,'Prom_introduccion' AS item, a.prome
FROM promedios AS p INNER JOIN 
(SELECT MIN(Prom_introduccion) AS prome FROM promedios) a
ON p.Prom_introduccion = a.prome

UNION ALL

SELECT p.equipo_evaluado AS mejor_equipo_evaluado,'Prom_equipo' AS item, b.prome
FROM promedios AS p INNER JOIN 
(SELECT MIN(Prom_equipo) AS prome FROM promedios) b
ON p.Prom_equipo = b.prome

UNION ALL

SELECT p.equipo_evaluado AS mejor_equipo_evaluado,'Prom_problema' AS item, c.prome
FROM promedios AS p INNER JOIN 
(SELECT MIN(Prom_problema) AS prome FROM promedios) c
ON p.Prom_equipo = c.prome

UNION ALL

SELECT p.equipo_evaluado AS mejor_equipo_evaluado,'Prom_ventajas' AS item, d.prome
FROM promedios AS p INNER JOIN 
(SELECT MIN(Prom_ventajas) AS prome FROM promedios) d
ON p.Prom_equipo = d.prome

UNION ALL

SELECT equipo_evaluado AS mejor_equipo_evaluado,'Prom_solucion' AS item, Prom_solucion
FROM promedios
WHERE Prom_solucion = 4.2


UNION ALL

SELECT p.equipo_evaluado AS mejor_equipo_evaluado,'Prom_producto' AS item, f.prome
FROM promedios AS p INNER JOIN 
(SELECT MIN(Prom_producto) AS prome FROM promedios) f
ON p.Prom_equipo = f.prome

UNION ALL

SELECT p.equipo_evaluado AS mejor_equipo_evaluado,'Prom_traccion' AS item, g.prome
FROM promedios AS p INNER JOIN 
(SELECT MIN(Prom_traccion) AS prome FROM promedios) g
ON p.Prom_equipo = g.prome

UNION ALL

SELECT equipo_evaluado AS mejor_equipo_evaluado,'Prom_mercado' AS item, Prom_mercado
FROM promedios
WHERE Prom_mercado = 4.1

UNION ALL

SELECT equipo_evaluado AS mejor_equipo_evaluado,'Prom_competencia' AS item, Prom_competencia
FROM promedios
WHERE Prom_competencia = 3.5
    
UNION ALL

SELECT equipo_evaluado AS mejor_equipo_evaluado,'Prom_modelo' AS item, Prom_modelo
FROM promedios
WHERE Prom_modelo = 4.3

UNION ALL

SELECT equipo_evaluado AS mejor_equipo_evaluado,'Prom_inversion' AS item, Prom_inversion
FROM promedios
WHERE Prom_inversion = 3.6

UNION ALL

SELECT equipo_evaluado AS mejor_equipo_evaluado,'Prom_contacto' AS item, Prom_contacto
FROM promedios
WHERE Prom_contacto = 4.1
    
UNION ALL

SELECT equipo_evaluado AS mejor_equipo_evaluado,'Prom_exposicion1' AS item, Prom_exposicion1
FROM promedios
WHERE Prom_exposicion1 = 4.3

UNION ALL

SELECT equipo_evaluado AS mejor_equipo_evaluado,'Prom_exposicion2' AS item, Prom_exposicion2
FROM promedios
WHERE Prom_exposicion2 = 4.2

UNION ALL

SELECT equipo_evaluado AS mejor_equipo_evaluado,'Prom_exposicion3' AS item, Prom_exposicion3
FROM promedios
WHERE Prom_exposicion3 = 4.1

UNION ALL

SELECT equipo_evaluado AS mejor_equipo_evaluado,'Prom_Total' AS item, Prom_Total
FROM promedios
WHERE Prom_Total = 4.2

""").show(30)

+---------------------+-----------------+-----+
|mejor_equipo_evaluado|             item|prome|
+---------------------+-----------------+-----+
| Administración de...|Prom_introduccion|  4.1|
|      Mi Sanandresito|      Prom_equipo|  3.9|
|        Te lo cambio.|    Prom_problema|  4.0|
| Gestión de Menús ...|    Prom_problema|  4.0|
|      Mi Sanandresito|    Prom_ventajas|  3.9|
| Administración de...|    Prom_solucion|  4.2|
|        Te lo cambio.|    Prom_producto|  4.0|
| Gestión de Menús ...|    Prom_producto|  4.0|
|        Te lo cambio.|    Prom_traccion|  4.0|
| Gestión de Menús ...|    Prom_traccion|  4.0|
| Servicios a domic...|     Prom_mercado|  4.1|
|        Te lo cambio.|     Prom_mercado|  4.1|
|      Mi Sanandresito| Prom_competencia|  3.5|
| Servicios a domic...|      Prom_modelo|  4.3|
|        Te lo cambio.|      Prom_modelo|  4.3|
| Gestión de progra...|      Prom_modelo|  4.3|
|        Te lo cambio.|   Prom_inversion|  3.6|
| Administración de...|    Prom_contacto|  4.1|
| Administración de...| Prom_exposicion1|  4.3|
|      Mi Sanandresito| Prom_exposicion1|  4.3|
| Administración de...| Prom_exposicion2|  4.2|
|      Mi Sanandresito| Prom_exposicion2|  4.2|
| Administración de...| Prom_exposicion3|  4.1|
|      Mi Sanandresito| Prom_exposicion3|  4.1|
| Administración de...|       Prom_Total|  4.2|
|      Mi Sanandresito|       Prom_Total|  4.2|
+---------------------+-----------------+-----+

In [30]:
# 12. Consulte la lista de estudiantes con la correspondiente nota obtenida en la presentación 
# (nota promedio total de la evaluación obtenida por el equipo)
# Tu código a continuación...

In [37]:
data = spark.sql(""" 
SELECT DISTINCT 
      usuario, SUBSTRING(equipo_perteneces,15,LENGTH(equipo_perteneces)-14) as Equipo
FROM asistencia
ORDER BY Equipo, usuario
""")

In [38]:
data.createOrReplaceTempView('integrantes')

In [43]:
data.head()

Row(usuario='angutierrezb@unal.edu.co', Equipo='Administración de Inmuebles')

In [47]:
spark.sql(""" 
SELECT DISTINCT 
      t1.usuario, t1.Equipo, ROUND(t2.Prom_Total,2) AS Promedio_total
FROM integrantes AS t1 INNER JOIN
promedios AS t2
ON t1.Equipo = t2.equipo_evaluado
ORDER BY Equipo
""").show()

+--------------------+--------------------+--------------+
|             usuario|              Equipo|Promedio_total|
+--------------------+--------------------+--------------+
| eapenad@unal.edu.co|Administración de...|          4.19|
|samolinap@unal.ed...|Administración de...|          4.19|
|nsalinas@unal.edu.co|Administración de...|          4.19|
|jhcordoba@unal.ed...|Administración de...|          4.19|
| jortize@unal.edu.co|Administración de...|          4.19|
|framirezf@unal.ed...|Administración de...|          4.19|
|angutierrezb@unal...|Administración de...|          4.19|
| kmolano@unal.edu.co|Administración de...|          4.19|
|lumarinb@unal.edu.co|Administración de...|          4.19|
|emflorezb@unal.ed...|Administración de...|          4.19|
|rmbuilesm@unal.ed...|Administración de...|          4.19|
|sednarvaezna@unal...|Administración de...|          4.19|
|saespinosab@unal....|Administración de...|          4.19|
|anapariciom@unal....|Gestión de Menús ...|          4.36|
|favasquezj@unal.e...|Gestión de Menús ...|          4.36|
|   lmazo@unal.edu.co|Gestión de Menús ...|          4.36|
|jcardonaso@unal.e...|Gestión de Menús ...|          4.36|
|mcarvajalsa@unal....|Gestión de Menús ...|          4.36|
| abanolc@unal.edu.co|Gestión de Menús ...|          4.36|
|hriveraa@unal.edu.co|Gestión de Menús ...|          4.36|
+--------------------+--------------------+--------------+
only showing top 20 rows

In [ ]:
#spark.stop()